<h2>{{product.title}}</h2>
<img scr="{{product.featured_image}}" />

<div class="product-single__title"> {{ product.title }} </div>

{% if section.settings.show_comment %}
    <h2> Hand Made {{ price }}</h2>
{% endif %}

{% if section.settings.tax_notice != blank %}
	tax notice
{% endif %}


{% schema %}
{
    "name": "new product section",
    "tag": "section",
    "class": "section",
    "settings": [
        {
          "type": "checkbox",
          "id": "show_comment",
          "default": true,
          "label": "show_comment"
        },
		{
		  "type": "text",
          "id": "tax_notice",
          "label": "tax notice"
		}
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
